body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 1em;
    text-align: center;
}

.search-bar, .filter {
    margin: 1em;
}

input[type="text"], select {
    padding: 0.5em;
    width: calc(100% - 1em);
    margin: 0.5em 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.book-list {
    list-style-type: none;
    padding: 0;
}

.book-item {
    background-color: white;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.book-item h2 {
    margin-top: 0;
}

.book-item p {
    margin: 0.5em 0;
}
